option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:application"
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgres://jasonadmin:qwerty123@cardb-1.cbbge8pluyf7.eu-central-1.rds.amazonaws.com:5432/cardb"
  aws:elasticbeanstalk:container:python:use_app_server: true
  libpq: true

    
 
