packages:
  yum:
    python3-devel: []
    postgresql-devel: []
    libpq-devel: []
    
  files:
    "/tmp/install_libpq.sh":
      mode: "000755"
    content: |
      #!/bin/bash
      yum -y update
      yum -y install postgresql-devel
      exit 0

  container_commands:
    01_install_libpq:
      command: "/tmp/install_libpq.sh"



