packages:
  yum:
    python3-devel: []
    postgresql-devel: []
    files:
  "/tmp/install_libpq.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo apt-get update
      sudo apt-get install -y libpq-dev-11
commands:
  01_install_libpq:
    command: "/tmp/install_libpq.sh"


