<!-- <h1> Joy World! </h1> -->
<html>
  <head>
    <title>Car Owner Information</title>
  </head>
  <body>
    <h1>Car Owner Information</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Car Brand</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>
              {% set carbrand = row[2] %}
              {% for car in cars if car[3] == carbrand %}
                {{ car[0] }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
